# host configuration
HOST=
PORT=

# the message which will be called as the root
WELCOME_MESSAGE=

# the database which is the production database 
# e.x: DATABASE_URI=sqlite:///database.db
DATABASE_URI=


# the testing database which is used for testing 
# e.x TEST_DATABASE_URI=sqlite:///testing_database.db
TEST_DATABASE_URI=
